.todo-form {
  width: 50%;
  margin: auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.todo-form div {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.todo-form div label {
  margin-bottom: 5px;
}

.todo-form div:nth-child(3) label {
  margin: 0;
}

.todo-form input,
.todo-form textarea {
  padding: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: none;
}

.todo-form input[type="checkbox"] {
  box-shadow: none;
}

.todo-form textarea {
  resize: none;
}

.todo-form input:focus,
.todo-form textarea:focus {
  outline: none;
  border: 2px solid #00599b;
}

.todo-form div:nth-child(3) {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .todo-form {
    width: 80%;
  }
}
