button {
  width: 100px;
  height: 40px;
  background-color: white;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  color: black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:hover {
  transition: 0.2s all ease-out;
  border: none;
}
