.header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 3rem;
}

.header div:nth-child(2) {
  display: flex;
  gap: 20px;
}
.header div a {
  text-decoration: none;
  color: black;
}
